{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Main Slider-->
    <section class="main-slider" id="scroll-section-one" data-start-height="900" data-slide-overlay="yes">

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="{% static "images/main-slider/image-1.jpg" %}" data-saveperformance="off"
                        data-title="Awesome Title Here">
                        <img src="{% static "images/main-slider/image-1.jpg" %}" alt="" data-bgposition="center top"
                             data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfl sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-150"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><h2>Granja Fresca</h2></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-70"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn">
                            <div class="big-text">Cultivadas localmente</div>
                        </div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="0"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Compra ahora</a>
                        </div>


                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="{% static "images/main-slider/image-2.jpg" %}" data-saveperformance="off"
                        data-title="Awesome Title Here">
                        <img src="{% static "images/main-slider/image-2.jpg" %} " alt="" data-bgposition="center top"
                             data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfl sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="-140"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn">
                            <figure class="content-image"><img src="{% static "images/main-slider/leaf-icon.png" %}"
                                                               alt=""></figure>
                        </div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="-10"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><h3>La gran variedad de frutas y vegetales <br/>mas frescos
                        </h3></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="110"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Compra Ahora</a>
                            &ensp;&ensp;
                        </div>


                    </li>

                    <li data-transition="zoomout" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="{% static "images/main-slider/image-3.jpg" %}" data-saveperformance="off"
                        data-title="Awesome Title Here">
                        <img src="{% static "images/main-slider/image-3.jpg" %}" alt="" data-bgposition="center top"
                             data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-140"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn">
                            <figure class="content-image"><img src="{% static "images/main-slider/leaf-icon.png" %}"
                                                               alt=""></figure>
                        </div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-10"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><h3 class="text-center">La gran variedad de frutas y
                            vegetales <br/>mas frescos</h3></div>

                        <div class="tp-caption sfb sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="110"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Compra Ahora</a>
                            &ensp;&ensp;
                        </div>


                    </li>

                </ul>

                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>


    <!--Intro Section-->
    <section class="intro-section">
        <div class="inner-part">
            <div class="auto-container">
                <div class="content-box">
                    <div class="inner-box">
                        <!--Section Title-->
                        <div class="sec-title-one">
                            <h2>Bienvenido a nuestra tienda saludable</h2>
                        </div>

                        <div class="row clearfix">
                            <!--Content Column-->
                            <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                <div class="inner text-left wow fadeInLeft" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <h3>01. 100% Organico</h3>
                                    <div class="text">Los productos que se ofrecen en esta p&aacute;gina son 100%
                                        cultivados con productos naturales, asegurando que no se utilicen pesticidas al
                                        momento de su tratamiento.
                                    </div>
                                    <a href="#" class="theme-btn btn-style-two">Leer Mas</a>
                                </div>
                            </div>
                            <!--Content Column-->
                            <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                <div class="inner text-right wow fadeInRight" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <h3>02. Los mejores productos de calidad</h3>
                                    <div class="text">Todos los productos estan avalados bajo los mas rigurosos
                                        estandares de calidad
                                    </div>
                                    <a href="#" class="theme-btn btn-style-two">Leer Mas</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Testimonials Section-->
    <section class="testimonial-section">

        <div class="oval-cut"></div>

        <div class="auto-container">
            <div class="carousel-outer">
                <div class="icon-box"><span class="flaticon-blocks-with-angled-cuts"></span></div>

                <div class="single-item-carousel">
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="text-content">Morbi condimentum egestas quam, tempus ornare tortor. Vivamus
                            ultricies gravida elit, sit amet interdum odio fringilla consequatSed quis condimentum
                            quamorbi condimentum egestas quam, tempus ornare tortor. Vivamus ultricies gravida elit, sit
                            amet interdum odio fringilla consequat.
                        </div>
                        <div class="quote-info">
                            <figure class="author-thumb img-circle"><img class="img-circle"
                                                                         src="{% static "images/resource/author-thumb-1.jpg" %}"
                                                                         alt=""></figure>
                            <h4>Adam Gilchrist</h4>
                            <div class="designation">CEO / Founder</div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="text-content">Morbi condimentum egestas quam, tempus ornare tortor. Vivamus
                            ultricies gravida elit, sit amet interdum odio fringilla consequatSed quis condimentum
                            quamorbi condimentum egestas quam, tempus ornare tortor. Vivamus ultricies gravida elit, sit
                            amet interdum odio fringilla consequat.
                        </div>
                        <div class="quote-info">
                            <figure class="author-thumb img-circle"><img class="img-circle"
                                                                         src="{% static "images/resource/author-thumb-1.jpg" %}"
                                                                         alt=""></figure>
                            <h4>Adam Gilchrist</h4>
                            <div class="designation">CEO / Founder</div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="text-content">Morbi condimentum egestas quam, tempus ornare tortor. Vivamus
                            ultricies gravida elit, sit amet interdum odio fringilla consequatSed quis condimentum
                            quamorbi condimentum egestas quam, tempus ornare tortor. Vivamus ultricies gravida elit, sit
                            amet interdum odio fringilla consequat.
                        </div>
                        <div class="quote-info">
                            <figure class="author-thumb img-circle"><img class="img-circle"
                                                                         src="{% static "images/resource/author-thumb-1.jpg" %}"
                                                                         alt=""></figure>
                            <h4>Adam Gilchrist</h4>
                            <div class="designation">CEO / Founder</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!--sponsors style one-->
    <section class="sponsors-style-one">
        <div class="auto-container">
            <!--Section Title-->
            <div class="sec-title-one">
                <h2>Our partners</h2>
            </div>

            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel">
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/1.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/2.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/3.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/4.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/5.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/1.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/2.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/3.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/4.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="{% static "images/sponsors/5.png" %}"
                                                                   alt=""></a></figure>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <!--Google Map APi Key-->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDL6TZQxNUkW3jlsAsHc8rRteGesrZmPuo"></script>
    <script src="{% static "js/map-script.js" %}"></script>
    <!--End Google Map APi-->
{% endblock %}
