<section class="contact-section">
  <div class="auto-container">

      <h1>Rechazar propuesta</h1>

      <div class="contact-form default-form ">
        <table class="table ">
          <tbody>
          <tr>
            <td class="text-right"><label>Fecha solicitud : </label></td>
            <td class="text-left"><span> {{oferta.fecha}} </span></td>
            <td class="text-right"><label><b>Productor :</b> </label></td>
            <td class="text-left"><span>{{oferta.productor.nombre}} </span></td>
          </tr>
          <tr>
            <td class="text-right"><label><b>Producto :</b> </label></td>
            <td class="text-left"><span> {{oferta.productos.nombre}}</span></td>
            <td class="text-right"><label><b>Cantidad ofertada	:</b></label></td>
            <td class="text-left"><span> {{data.cantidad}} </span></td>
          </tr>
          <tr>
            <td class="text-right"><label><b>Inicio Venta :</b> </label></td>
            <td class="text-left"><span> {{fechas.fechaInicioNext}} </span></td>
            <td class="text-right"><label><b>Fin Venta :</b></label></td>
            <td class="text-left"><span> {{fechas.fechaFinNext}} </span></td>
          </tr>

          <tr>
            <td class="text-right"><label><b>Precio de venta :</b> </label></td>
            <td class="text-left"><span> {{oferta.productos.precio}} </span></td>
          </tr>

          <tr>
            <td colspan="4"></td>
          </tr>

          </tbody>
        </table>

         <form #formOferta="ngForm" (ngSubmit)="rechazarOferta(formOferta)">
              <div class="row clearfix">

                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                      <textarea #descripcion="ngModel" [ngClass]="{'error':!descripcion.valid && envioformOferta}" name="descripcion" placeholder="* Descripción [Máx 550 caracteres]" ngModel maxlength="550" required></textarea>
                      <!--<textarea #motivo="ngModel" [ngClass]="{'error':!motivo.valid && !envioformOferta}" name="motivo" placeholder="* Motivo del rechazo [Máx 550 caracteres]" ngModel maxlength="550" required></textarea>-->
                  </div>

                  <div class="form-group col-md-12 col-sm-12 col-xs-6 text-left" >
                    <span *ngIf="!formOferta.valid "> * Campos obligatorios</span>
                    <br>
                    <label *ngIf="!formOferta.valid && envioformOferta" class="error">* Existen campos vacios que son obligatorios o existen campos invalidos.</label>
                  </div>

                  <div class="form-group col-md-12 col-sm-12 col-xs-6">
                      <div class="text-center"><button  type="submit" class="theme-btn btn-style-two ui-state-disabled" >Guardar</button></div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</section>
