<section class="productor-registro-section">
  <div class="auto-container">
        <!--Section Title-->
        <div class="sec-title-one">
            <h2>Administrador: Nuevo Productor</h2>
        </div>

      <div class="productor-form default-form row col-md-8 col-md-offset-2">
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="nombreProductor" [(ngModel)]="productor.nombre" placeholder=" * Nombre" />
        </div>

        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="descripcionProductor" placeholder="Acerca de m&iacute;" [(ngModel)]="productor.descripcion"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <select id="tipoDocumento" [(ngModel)]="productor.tipo_documento">
            <option value="-1">-- Tipo de Documento --</option>
            <option value="1">C&eacute;dula de ciudadan&iacute;a</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="numeroDocumentoProductor" placeholder="N&uacute;mero de documento" [(ngModel)]="productor.documento"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="nombreFinca" placeholder="Nombre Finca" [(ngModel)]="productor.nombreFinca"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="email" id="emailProductor" placeholder="E-Mail" [(ngModel)]="productor.email"/>
        </div>


        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <select id="cooperativa" [(ngModel)]="productor.cooperativa">
            <option value="-1">-- Cooperativa --</option>
            <option *ngFor="let cooperativa of cooperativas" value="{{cooperativa.id}}">{{cooperativa.nombre}}</option>
          </select>
        </div>

        <div class="form-group col-md-6 col-sm-6 col-xs-12 checkbox-container">
          <label for="fincaCertificada">Finca Certificada*: </label>
          <input type="checkbox" id="fincaCertificada" placeholder="" [(ngModel)]="productor.fincaCertificada"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12 checkbox-container">
          <label for="productosOrganicos">Productos Organicos*: </label>
          <input type="checkbox" id="productosOrganicos" placeholder="" [(ngModel)]="productor.productosOrganicos"/>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <input type="text" autocapitalize="off" spellcheck="off" id="direccionProductor" placeholder="Direcci&oacute;n" #search [formControl]="searchControl" [(ngModel)]="productor.direccion"/>
        </div>

        <div class="col-md-12 col-md-offset-0" style="margin-bottom: 20px">
          <agm-map class="registro-map" [latitude]="marker.latitud" [longitude]="marker.longitud" (mapClick)="mapClicked($event)" [zoom]="marker.zoom">
            <agm-marker [latitude]="marker.latitud" [longitude]="marker.longitud"></agm-marker>
          </agm-map>
        </div>

        <div class="col-md-6 col-md-offset-3">
          <label for="foto">Foto*:</label>
          <input type="file" id="foto" #entradaFoto (change)="loadFoto(entradaFoto)">
          <img src="{{productor.foto}}" width="200" >
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <button (click)="saveProductor()" class="theme-btn btn-style-two ui-state-disabled">Guardar</button>
        </div>
      </div>
  </div>
</section>
