    <!--News Section-->
    <section class="news-section">
        <div class="auto-container">
            <!--Section Title-->
            <div class="sec-title-one">
                <h2>Nuestros Servicios</h2>
            </div>

            <div class="social-links"><small></small><a routerLink="/cooperativa/listadoCooperativa">
              <span class="fa fa-step-backward title-box title" title="Volver"> Volver</span></a></div>

            <div class="row clearfix" *ngFor="let item of servicios">

                <!--News Style One-->
                <div class="news-style-one col-md-4 col-sm-6 col-xs-12" *ngIf="item[0]">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{{ item[0].foto }}" alt=""></figure>
                        <div class="lower-content">
                        	<h3>{{ item[0].titulo }}</h3>
                            <div class="text">{{ item[0].descripcion }}</div>
                            <div class="info clearfix">
                            	<ul class="post-meta clearfix">

                                </ul>
                                <div class="more-link"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one col-md-4 col-sm-6 col-xs-12" *ngIf="item[1]">
                    <div class="inner-box">
                    	<figure class="image-box"><img src="{{ item[1].foto }}" alt=""></figure>
                        <div class="lower-content">
                        	<h3>{{ item[1].titulo }}</h3>
                            <div class="text">{{ item[1].descripcion }}</div>
                            <div class="info clearfix">
                            	<ul class="post-meta clearfix">

                                </ul>
                                <div class="more-link"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one col-md-4 col-sm-6 col-xs-12" *ngIf="item[2]">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{{ item[2].foto }}" alt=""></figure>
                        <div class="lower-content">
                        	<h3>{{ item[2].titulo }}</h3>
                            <div class="text">{{ item[2].descripcion }}</div>
                            <div class="info clearfix">
                            	<ul class="post-meta clearfix">

                                </ul>
                                <div class="more-link"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
