<!--Contact Section-->
<section class="contact-section">
  <div class="auto-container">
      <!--Section Title-->
      <div class="sec-title-one">
          <h2>Información del foro</h2>
      </div>

    <table class="table">
      <tbody>
        <tr>
          <td class="text-right"><label>Nombre : </label></td>
          <td class="text-left"><span> {{foro.nombre}} </span></td>
          <td class="text-right"><label><b>Cooperativa :</b> </label></td>
          <td class="text-left"><span> {{foro.cooperativa.nombre}} </span></td>
        </tr>
        <tr>
          <td class="text-right"><label>Tema : </label></td>
          <td class="text-left"><span> {{foro.tema.nombre}} </span></td>
          <td class="text-right"><label><b>Fecha de cierre :</b> </label></td>
          <td class="text-left"><span> {{foro.fecha_cierre | date }} </span></td>
        </tr>
        <tr>
          <td class="text-right"><label><b>Descripción : </b> </label></td>
          <td colspan="3" class="text-left"><span> {{foro.descripcion}} </span></td>
        </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      </tbody>
    </table>

    <div class="sidebar-title" *ngIf="respuestas && respuestas.length>0 "><h3>Comentarios </h3></div>
    <div class="comments-area col-md-12 col-sm-12 col-xs-12" *ngFor="let respuesta of respuestas">
          <div class="comment-box comentario" >
                <div class="comment-inner text-left" >
                      <div class="comment-content">
                          <div class="comment-header clearfix">
                              <strong>{{ respuesta.productor.nombre }}</strong>  <span class="date"> {{ respuesta.fecha | date }} </span>
                              <br>
                              <strong style="padding-left: 45px"> Asunto : </strong> <span> {{ respuesta.nombre }} </span>
                          </div>
                          <div class="text" style="padding-left: 45px">
                            <strong > Detalle : </strong> <span>{{ respuesta.descripcion }}</span>
                          </div>
                      </div>
                  </div>
          </div>
    </div>
    <div *ngIf="respuestas && respuestas.length>0 " class="comentario col-md-12 col-sm-12 col-xs-12"> <br></div>



     <h1>Nuevo Comentario</h1>
        <div class="contact-form default-form">

           <form #formRespuesta="ngForm" (ngSubmit)="agregarRespuesta(formRespuesta)">
                <div class="row clearfix">

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input #nombre="ngModel" [ngClass]="{'error':!nombre.valid && envioFormRespuesta}" type="text" name="nombre" value="" placeholder="* Asunto [Solo letras por favor]" ngModel required maxlength="70"  >
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <textarea #descripcion="ngModel" [ngClass]="{'error':!descripcion.valid && envioFormRespuesta}" name="descripcion" placeholder="* Descripción [Máx 550 caracteres]" ngModel maxlength="550" required></textarea>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12 text-left" >
                      <span *ngIf="!formRespuesta.valid && !envioFormRespuesta"> * Campos obligatorios</span>
                      <br>
                      <label *ngIf="!formRespuesta.valid && envioFormRespuesta" class="error">* Existen campos vacios que son obligatorios o existen campos invalidos.</label>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center"><button  type="submit" class="theme-btn btn-style-two ui-state-disabled" >Guardar</button></div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>

